* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "SF Pro Text", "Myriad Set Pro", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "SF Pro Icons", "Apple Legacy Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

body {
  min-width: 320px;
}
body header {
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  z-index: 1000;
  position: fixed;
}
body header .header_top {
  background: #282829;
  font-size: 0.8rem;
  height: 70px;
  width: 100%;
}
body header .header_top .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 16px;
}
body header .header_top .container p {
  font-size: 12px;
  line-height: 1.4;
  font-weight: 400;
  letter-spacing: -0.01em;
  -webkit-padding-end: 2%;
          padding-inline-end: 2%;
  display: inline-block;
  flex: 1;
  color: rgba(255, 255, 255, 0.92);
  max-width: 430px;
}
body header .header_top .container .region_box {
  padding-left: 32px;
  display: flex;
  position: relative;
  align-items: center;
}
body header .header_top .container .region_box #check_icon {
  color: rgba(255, 255, 255, 0.9215686275);
  font-size: 20px;
  position: absolute;
  left: 40px;
  z-index: 2;
}
body header .header_top .container .region_box select {
  position: relative;
  flex: 1;
  max-width: 343px;
  min-width: 246px;
  display: inline-block;
  background-color: #3b3b3c;
  color: rgba(255, 255, 255, 0.9215686275);
  font-size: 16px;
  padding-left: 40px;
  padding-right: 15px;
  border-radius: 8px;
  border: 1px solid #333;
  transition: background-color 240ms cubic-bezier(0.4, 0, 0.6, 1), border-color 240ms cubic-bezier(0.4, 0, 0.6, 1);
  height: 36px;
  line-height: 35px;
  cursor: default;
  outline: none;
  width: 100%;
}
body header .header_top .container .region_box select:focus {
  box-shadow: 0 0 0 4px rgba(0, 125, 250, 0.6);
  border-color: #0071e3;
}
body header .header_top .container .region_box select option {
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  overflow: hidden;
  width: calc(100% - 48px);
}
body header .header_top .container .region_box select option:hover {
  background-color: #3b3b3c;
}
body header .header_top .container .region_box a {
  background-color: #f5f5f7;
  color: #000;
  margin-left: 16px;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  font-size: 17px;
  line-height: 1.2;
  font-weight: 400;
  min-width: 28px;
  padding: 8px 16px;
  box-sizing: border-box;
  display: block;
  border-radius: 8px;
  width: auto;
}
body header .header_top .container .region_box a:hover {
  background-color: rgb(255, 255, 255);
  color: #000;
}
body header .header_top .container .region_box button {
  cursor: pointer;
  margin-left: 14px;
  font-size: 22px;
  font-weight: 300;
  line-height: 18px;
  color: #86868b;
  display: block;
  width: auto;
  height: 18px;
  margin-top: auto;
  margin-bottom: auto;
  transition: color 320ms cubic-bezier(0.4, 0, 0.6, 1);
  outline: none;
  background: transparent;
  border: none;
}
body header .header_top .container .region_box button:hover {
  color: #fff;
}
body header .header_bottom {
  background-color: rgba(22, 22, 23, 0.8);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
          backdrop-filter: saturate(180%) blur(20px);
  display: block;
  margin: 0;
  width: 100%;
  min-width: 320px;
  height: 48px;
  max-height: 44px;
  font-size: 17px;
}
body header .header_bottom .container {
  padding: 0 22px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
body header .header_bottom .container nav {
  width: 100%;
}
body header .header_bottom .container nav ul {
  width: auto;
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body header .header_bottom .container nav ul li {
  cursor: pointer;
}
body header .header_bottom .container nav ul li a {
  transition: 0.32s cubic-bezier(0.4, 0, 0.6, 1);
  color: rgba(255, 255, 255, 0.92);
  font-size: 12px;
  font-weight: 400;
}
body header .header_bottom .container nav ul li a:hover {
  color: #fff;
}
body header .header_bottom .container nav ul li:first-child a {
  font-size: 17px;
  line-height: 1.2;
  font-weight: 600;
  display: flex;
  align-items: center;
}
body header .header_bottom .store_submenu {
  padding-top: 40px;
  padding-bottom: 84px;
  margin: 0 auto;
  width: 100%;
  opacity: 0;
  background-color: #161617;
  display: flex;
}
body header .header_bottom .store_submenu .submenu_content {
  max-width: 50%;
  padding-left: 88px;
  text-align: start;
}
body header .header_bottom .store_submenu .submenu_content h2 {
  color: rgb(134, 134, 139);
  font-size: 12px;
  line-height: 1.4;
  font-weight: 400;
  letter-spacing: -0.01em;
  display: block;
}
body header .header_bottom .store_submenu .submenu_content .submenu_ul li {
  margin-top: 6px;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 600;
  letter-spacing: 0.009em;
  color: rgb(110, 110, 115);
  margin-left: -11px;
  margin-right: -11px;
}
body header .header_bottom .store_submenu .submenu_content .submenu_ul li a {
  padding-top: 9px;
  display: inline-block;
  padding: 7px 11px;
  margin-bottom: -6px;
  text-decoration: none;
  transition: color 0.32s cubic-bezier(0.4, 0, 0.6, 1);
  outline-offset: -7px;
}
body main {
  position: relative;
  max-width: 2560px;
  padding-top: 115px;
  margin: 0 auto;
}
body main .news_box {
  width: 100%;
  background-color: #f5f5f7;
  text-align: center;
  position: relative;
  z-index: 2;
}
body main .news_box span {
  font-size: 14px;
  display: inline-block;
  padding: 12px 0;
}
body main .news_box span a {
  color: #06c;
}
body main .news_box span a i {
  font-size: 10px;
  padding-left: 4px;
}
body main .news_box span a:hover {
  text-decoration: underline;
}
body main #apple_section {
  width: 100%;
  display: block;
  position: relative;
}
body main #apple_section .section_container {
  width: 100%;
  background: black;
  display: flex;
  flex-direction: column;
  color: #f5f5f7;
  height: 580px;
  overflow: hidden;
  position: relative;
}
body main #apple_section .section_container .section_link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
body main #apple_section .section_container .section_text {
  margin-top: 0;
  padding-top: 50px;
  text-align: center;
  width: 100%;
}
body main #apple_section .section_container .section_text h2 {
  font-size: 56px;
  line-height: 1.1;
  font-weight: 600;
  letter-spacing: -0.005em;
  position: relative;
  z-index: 2;
}
body main #apple_section .section_container .section_text .second_h2 {
  color: #1d1d1f;
  font-size: 50px;
}
body main #apple_section .section_container .section_text .third_h2 {
  font-size: 46px;
}
body main #apple_section .section_container .section_text .third_h2 span {
  color: rgb(173, 3, 3);
  text-align: center;
  font-size: 25px;
}
body main #apple_section .section_container .section_text h3 {
  font-size: 28px;
  line-height: 1.2;
  margin-top: 6px;
  font-weight: 400;
  letter-spacing: 0.004em;
  position: relative;
  z-index: 2;
  text-align: center;
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
body main #apple_section .section_container .section_text .second_h3 {
  color: #000;
  max-width: 415px;
}
body main #apple_section .section_container .section_text .buylinks {
  display: inline-block;
  font-size: 21px;
  line-height: 1.381;
  font-weight: 400;
  letter-spacing: 0.011em;
  text-align: center;
  position: relative;
  margin-top: 0.65em;
  z-index: 6;
}
body main #apple_section .section_container .section_text .buylinks a {
  color: #2997ff;
  font-size: 21px;
  line-height: 1.4;
  font-weight: 400;
}
body main #apple_section .section_container .section_text .buylinks a:hover {
  text-decoration: underline;
}
body main #apple_section .section_container .section_text .buylinks a:nth-child(2) {
  margin-left: 35px;
}
body main #apple_section .section_container .section_text .buylinks a i {
  padding-left: 10px;
  font-size: 16px;
}
body main #apple_section .section_container .section_imgbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: visible;
  flex-grow: 1;
  z-index: 1;
}
body main #apple_section .section_container .section_imgbox figure {
  width: 3008px;
  height: 624px;
  background-size: 3008px 624px;
  background-repeat: no-repeat;
  z-index: 1;
  position: absolute;
  border: 0;
  margin: 0;
  padding: 0;
  left: calc(50% + 0px);
  right: auto;
  bottom: 0px;
  top: auto;
  transform: translatex(-50%);
}
body main #apple_section .section_container .section_imgbox .first_section_img {
  background-image: url("../images/introbck.jpg");
}
body main #apple_section .section_container .section_imgbox .second_section_img {
  background-image: url("../images/secondsection.jpg");
}
body main #apple_section .section_container .section_imgbox .third_section_img {
  background-image: url("../images/watch.jpg");
}
body main #fourth_section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding: 15px;
}
body main #fourth_section .card {
  background: #f5f5f7;
  display: flex;
  flex-direction: column;
  color: #1d1d1f;
  height: 580px;
  overflow: hidden;
  position: relative;
}
body main #fourth_section .card .card_link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
body main #fourth_section .card .card_text {
  margin-top: 0;
  padding-top: 50px;
  text-align: center;
  width: 100%;
}
body main #fourth_section .card .card_text h4 {
  font-size: 40px;
  line-height: 1.1;
  font-weight: 600;
  letter-spacing: -0.005em;
  position: relative;
  z-index: 2;
}
body main #fourth_section .card .card_text h5 {
  font-size: 20px;
  line-height: 1.2;
  margin-top: 6px;
  font-weight: 400;
  letter-spacing: 0.004em;
  position: relative;
  z-index: 2;
  text-align: center;
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
body main #fourth_section .card .card_text .buylinks {
  display: inline-block;
  font-size: 21px;
  line-height: 1.381;
  font-weight: 400;
  letter-spacing: 0.011em;
  text-align: center;
  position: relative;
  margin-top: 0.65em;
  z-index: 6;
}
body main #fourth_section .card .card_text .buylinks a {
  color: #2997ff;
  font-size: 17px;
  line-height: 1.4;
  font-weight: 400;
}
body main #fourth_section .card .card_text .buylinks a:hover {
  text-decoration: underline;
}
body main #fourth_section .card .card_text .buylinks a:nth-child(2) {
  margin-left: 35px;
}
body main #fourth_section .card .card_text .buylinks a i {
  padding-left: 10px;
  font-size: 16px;
}
body main #fourth_section .card .card_imgbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: visible;
  flex-grow: 1;
  z-index: 1;
}
body main #fourth_section .card .card_imgbox figure {
  width: 1262px;
  height: 580px;
  background-size: 1262px 580px;
  background-repeat: no-repeat;
  z-index: 1;
  position: absolute;
  border: 0;
  margin: 0;
  padding: 0;
  left: calc(50% + 0px);
  right: auto;
  bottom: 0px;
  top: auto;
  transform: translatex(-50%);
}
body main #fourth_section .card .card_imgbox .card1_img {
  background-image: url("../images/card1.jpg");
}
body main #fourth_section .card .card_imgbox .card2_img {
  background-image: url("../images/card2.jpg");
}
body main #fourth_section .card .card_imgbox .card3_img {
  background-image: url("../images/card3.jpg");
}
body main #fourth_section .card .card_imgbox .card4_img {
  background-image: url("../images/card4.jpg");
}
body main #fourth_section .card .card_imgbox .card5_img {
  background-image: url("../images/card5.jpg");
}
body main #fourth_section .card .card_imgbox .card6_img {
  background-image: url("../images/card6.jpg");
}
body main #fourth_section .second_card {
  justify-content: flex-end;
}
body main #fourth_section .second_card .card_text {
  padding-bottom: 38px;
  color: white;
}
body main #fourth_section .fourth_card .card_text {
  color: white;
}
body main #fourth_section .fifth_card .card_text {
  color: white;
}/*# sourceMappingURL=index.css.map */